<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Movie Reservations</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="screenings">Movie Screenings</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="page-header">
            <h1>Welcome to the Movie Reservations Page!</h1>
            <h2>Please select a date</h2>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
            <input type="text" class="form-control" id="datepicker" aria-describedby="basic-addon1"/>
        </div>

        <table class="table table-striped table-bordered" th:if="${!movieScreenings.empty}">
            <tr>
                <td>Movie Name</td>
                <td>Theatre</td>
                <td>City</td>
                <td>Date</td>
                <td>Time</td>
            </tr>
            <tr th:each="movieScreening: ${movieScreenings}">
                <form action="/screenings" th:action="@{/screenings}" th:object="${movieBooking}" method="post">
                    <input type="hidden" th:value="${movieScreening.movieName}" th:attr="name='movieName'"><td th:text="${movieScreening.movieName}">Movie Name</td></input>
                    <input type="hidden" th:value="${movieScreening.theatreName}" th:attr="name='theatreName'"><td th:text="${movieScreening.theatreName}">Theatre</td></input>
                    <input type="hidden" th:value="${movieScreening.theatreCity}" th:attr="name='theatreCity'"><td th:text="${movieScreening.theatreCity}">City</td></input>
                    <input type="hidden" th:value="${movieScreening.screeningDate}" th:attr="name='screeningDate'"><td th:text="${movieScreening.screeningDate}">Date</td></input>
                    <input type="hidden" th:value="${movieScreening.screeningTime}" th:attr="name='screeningTime'"><td th:text="${movieScreening.screeningTime}">Time</td></input>
                    <td><input type="input" th:attr="name='numSeats'"/></td>
                    <td><input  class= "bookButton" type="submit" value="Book" /></td>
                </form>
            </tr>
        </table>
    </div>
    <footer class="footer navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><p class="text-muted">@Copyright 2018 Vaibhav Sood</p></div>
            </div>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/site.js"></script>

</body>
</html>