<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Movie Reservations</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/movie-projector-icon.png" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/site.css"/>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="images/movie-projector-icon.png" style="display:inline-block" height="30px" width="30px" />
                    <span style="font-family:cursive;display:inline-block;color:yellow">BookMyMovie</span>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/movies">Home</a></li>
                <li><a href="/movies">Movies</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="booking-seats">
        <h2 style="text-align:center;">Booking seats...</h2>
        <div class="loader">
        </div>
    </div>
    <div class="booking-success">
        <p>
            <strong>Success!</strong> Enjoy the show!
        </p>
    </div>
    <footer class="footer navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><p class="text-muted">@Copyright 2018 Vaibhav Sood</p></div>
            </div>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/site.js"></script>

</body>
</html>